/*! 夜间主题 */

.night-node {
    background-color: #121212;
    color: #fff;
    .post-item .content {
        .post-title {
            color: #fff;
        }
        .post-abstract {
            color: #afafaf;
        }
    }
    .post-detail .post-title {
        color: #fff;
    }
    .post-content {
        p {
            color: #c0c0c0;
        }
        code {
             color: #fff;
             background-color: #2e2e2e;
             border-color: #4a4a4a;
         }
        h1, h2, h3, h4, h5, h6 {
            color: #ddd;
        }
        img {
            box-shadow: none;
        }
        table {
            color: #c0c0c0;
            tr:hover {
                background-color: #2e2e2e;
            }
        }
        ul, ol {
            color: #c0c0c0;
        }
    }


    .highlight {
        background-color: black;
        .copy-code {
            color: #7e7e7e;
        }
    }

    .keyword, .selector-tag, .subst {
        color: #fff;
    }

}
