/*! 夜间主题 */

html.dark {
    background-color: #121212;
    color: #fff;
    .post-title {
        color: #c9d1d9;
    }
    .post-item {
      .content{
        .post-title {
          color: #c9d1d9;
        }
        .post-abstract {
          color: #afafaf;
        }
      }

      .post-info {
        color: #759EFF
      }
    }
    .post-detail  {
      .post-title {
        color: #c9d1d9;
      }
      .post-info, .post-info a {
        color: #759EFF
      }
      .feature-container {
        box-shadow: none;
      }
    }
    .post-content {
        p {
            color: #c9d1d9;
        }
        code:not([class*=language-]) {
            color: #c9d1d9;
            background-color: rgba(110,118,129,0.4);
            border: none;
            border-radius: 6px;
        }
        h1, h2, h3, h4, h5, h6 {
            color: #ddd;
        }
        img {
            box-shadow: none;
        }
        table {
            color: #c0c0c0;
            tr:hover {
                background-color: #2e2e2e;
            }
        }
        ul, ol {
            color: #c0c0c0;
        }
        blockquote {
            background: black;
        }
    }

    .highlight,pre[class*=language-].line-numbers {
        background-color: black;
        .copy-code {
            color: #a1a1a1;
        }
        table tr:hover {
            background-color: black;
        }
        code[class*=language-] {
            overflow-x: auto;
            background: black;
        }
        .link {
            color: #3da3ff;
        }
    }

    .site-header-container {
        background-color: #121212;
    }
    .site-header {
        box-shadow: none;
        .site-title {
            color: #c0c0c0;
        }
    }

    .top-box li {
        a {
            color: #c9d1d9;
        }
        a:hover, a.current {
            color: #5ca2ff !important;
            background: #ddd;
        }
    }

    .next-post {
        .post-title {
            color: #c9d1d9;
        }
        .purple-link {
            background: linear-gradient(180deg, transparent 70%, rgb(101,125,225) 0);
        }
    }

    .pagination-container, .site-footer {
         a {
            color: #c0c0c0;
        }
    }
    .menu-container {
        background-color: #121212;
        .menu-list {
            a {
                color: #c0c0c0;
            }
        }
    }

    // Gitalk
    .gt-container .gt-comment-body {
        color: #dfdfdf !important;
    }
    .markdown-body blockquote {
        border-left: 0.25em solid #959595;
    }
    .gt-container {
        .gt-comment-content:hover {
            box-shadow: none;
        }
        .gt-header-textarea {
            background-color: #424a54 !important;
            color: #dfdfdf;
        }
        .gt-header-textarea:hover {
            background-color: #424a54;
        }
        .gt-comment-content {
            background-color: black;
        }
        .gt-svg svg {
            fill: #78a1ed;
        }
    }

    // 代码块
    .highlight {
        .tag, .name, .attribute {
            color: #8f8bf3;
        }
        .deletion {
            color: #ffdcd7;
            background: #67060c;
        }
        .addition {
            color: #aff5b4;
            background-color: #033a16;
        }
    }
    .deletion {
        color: #ffdcd7;
        background: #67060c;
    }
    .addition {
        color: #aff5b4;
        background: #033a16;
    }


    .keyword, .selector-tag, .subst {
        color: #c9d1d9;
    }

  .tags-container .tag {
    color  #759eff;
    border-color #759eff
  }

  #twikoo .tk-ruser, .tk-footer a, .tk-actions a {
    color: #409eff;
  }
}
