@font-face {
  font-display: block;
  font-family: "iconfont"; /* Project id 3522054 */
  src: url('../fonts/iconfont.eot?t=1657783088004'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1657783088004#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/iconfont.woff2?t=1657783088004') format('woff2'),
       url('../fonts/iconfont.woff?t=1657783088004') format('woff'),
       url('../fonts/iconfont.ttf?t=1657783088004') format('truetype'),
       url('../fonts/iconfont.svg?t=1657783088004#iconfont') format('svg');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\e67f";
}

.icon-close-outline:before {
  content: "\e61d";
}

.icon-menu-outline:before {
  content: "\e64d";
}

.icon-twitter:before {
  content: "\e6ef";
}

.icon-facebook:before {
  content: "\e605";
}

.icon-weibo:before {
  content: "\e88a";
}

.icon-zhihu:before {
  content: "\e88b";
}

.icon-github:before {
  content: "\e63a";
}

.icon-calendar-outline:before {
  content: "\e655";
}

.icon-pricetags-outline:before {
  content: "\e697";
}

.icon-arrow-ios-back-outline:before {
  content: "\e602";
}

.icon-arrow-ios-forward-outline:before {
  content: "\e603";
}

