
    <%- include('./includes/head', { siteTitle: config.title }) %>

    <div id="app" class="main">
      <%- include('./includes/header') %>

      <div class="content-container">

        <%- include('./includes/post-list') %>

      </div>


