<%- include('./includes/header') %>

<div class="content-container">

  <div class="current-tag-container">
    <h2 class="title">
      <i class="icon icon-pricetags-outline"></i> <%= page.tag %>
    </h2>
  </div>

  <%- include('./includes/post-list') %>

</div>

<%- include('./includes/footer') %>

