<%- include('./includes/header') %>

<div class="content-container">

  <div class="tags-container">
    <% if (site.tags.length <= 0) { %>
        <a class="tag" href="">暂无标签</a>
    <% } %>
    <% site.tags.forEach((tag) => { %>
      <a class="tag" href="<%= url_for(tag.path) %>"><%= tag.name %></a>
    <% }); %>
  </div>

</div>

<%- include('./includes/footer') %>
