<% let years = []; page.posts.forEach((item) => { const year = date(item.date, 'YYYY'); if (!years.includes(year)) { years.push(year); } }); %>

<div class="archives-container">
  <% years.forEach(function(year) { %>
    <h2 class="year"><%= year %></h2>
    <% page.posts.forEach(function(post) { %>
      <%if (is_hide(post) === false && date(post.date, 'YYYY') === year) { %>
        <article class="post">
          <a href="<%= url_for(post.path) %>">
            <h2 class="post-title">
              <%= post.title %>
              <small style="color: gray;"><%= date(post.date, config.date_format) %></small>
            </h2>
          </a>
        </article>
      <% } %>
    <% }); %>
  <% }); %>
</div>
